<section id="home" class="section hero">
  <app-hero (sidebarEvent)="onSidebarChange($event)"></app-hero>
</section>
<section id="about" class="section about">
  <app-about></app-about>
</section>
<section id="skill" class="section skill">
  <app-skill></app-skill>
</section>
<section id="resume" class="section resume">
  <app-resume></app-resume>
</section>
<section id="services" class="section services">
  <app-my-service></app-my-service>
</section>
<section id="ask-project" class="section ask-project">
  <app-ask-project></app-ask-project>
</section>
<section id="contact" class="section contact">
  <app-contact></app-contact>
</section>
<section id="add-comments" class="section add-comments">
  <!-- <app-add-comments></app-add-comments> -->
</section>
