<div class="container">
  <footer class="d-flex flex-wrap justify-content-sm-between  justify-content-center  py-3 border-top">
    <div class="">
      <span class="footer-text">Copyrights © 2023 Created by <a class="fw-semibold footer-link" href="https://www.instagram.com/harii_x08">Harit Tilavat </a></span>
    </div>
    <ul class="nav  justify-content-end list-unstyled d-flex">
      <li class="icon"><a href="https://www.instagram.com/harii_x08" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
      <li class="icon"><a href="https://github.com/harii-tilavat" target="_blank"><i class="fa-brands fa-github"></i></a></li>
      <li class="icon"><a href="https://www.linkedin.com/in/harit-tilavat-8a6888214" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
      <li class="icon"><a href="mailto:harittilavat10@gmail.com" ><i class="fa-solid fa-envelope"></i></a></li>
    </ul>
  </footer>
</div>
