<section class="about">
  <div class="container">
    <div class="title-head my-4">
      <h3 class="title">About</h3>
    </div>
    <div class="title-paragraph my-4">
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat fugit autem quasi, omnis voluptas molestiae
        quos? Voluptates, sunt enim! Quos tempore ullam perferendis inventore, tenetur, repellendus distinctio sunt
        dolorem veritatis fuga dolor veniam est.</p>
    </div>
    <div class="title-content my-4">
      <div class="row">
        <div class="col-xxl-4 col-xl-4 col-lg-4  col-12 my-2">
          <span>
            <img src="/assets/img/profile-img.jpg" alt="" class="img-fluid">
          </span>
        </div>
        <div class="col-xxl-8 col-xl-8 col-lg-8  col-12 my-2">
          <div class="about-title">
            <h3 class="text-primary">UI/UX Designer and Developer</h3>
          </div>
          <div class="about-paragraph">
            <p>
              <i> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, officia odio at atque magnam commodi.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, praesentium!</i>
            </p>
          </div>
          <div class="bio">
            <div class="row">
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-12">
                <div class="bio-content my-2">
                  <ul class="m-0 p-0">
                    <li>
                      <i class="fa fa-chevron-right"></i> <strong>Birthday:</strong> <span>20 October 2003</span>
                    </li>
                    <li>
                      <i class="fa fa-chevron-right"></i> <strong>Website:</strong> <span>www.harittilavat.com</span>
                    </li>
                    <li>
                      <i class="fa fa-chevron-right"></i> <strong>Phone:</strong> <span>+91 8780258459</span>
                    </li>
                    <li>
                      <i class="fa fa-chevron-right"></i> <strong>City:</strong> <span>Surat, Gujarat</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-12">
                <div class="bio-content my-2">
                  <ul class="list-unstyled">
                    <li>
                      <i class="fa fa-chevron-right"></i> <strong>Age:</strong> <span>20</span>
                    </li>
                    <li>
                      <i class="fa fa-chevron-right"></i> <strong>Degree:</strong> <span>BCA</span>
                    </li>
                    <li>
                      <i class="fa fa-chevron-right"></i> <strong>email:</strong> <span>harittilavat10@gmail.com</span>
                    </li>
                    <li>
                      <i class="fa fa-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="about-paragraph">
            <p>
              Official dolor,Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta sit, fuga atque quos
              perferendis ea! sit Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam nihil aperiam suscipit,
              incidunt nisi consequuntur quod ullam quas et pariatur! amet consectetur adipisicing elit. Nihil, officia
              odio at atque magnam commodi. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, praesentium!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
