.footer {
  color: #667085;
  .footer-text{
    transition: 0.3s;
  }
  &:hover .footer-text {
    color:$main-title;
  }
  .footer-link{
    color: inherit;
    cursor: pointer;
  }
  .icon{
    font-size: 22px;
    margin: 0 10px;
    a{
      color: inherit;
      transition: all 0.2s;
      &:hover{
        color: $main-title;
      }
    }
  }
}
