.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("/assets/profile-img/hero-bg1.webp");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  // background-position: center;
  background-position: 70% 45%;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .hero-header{
    .hire-me{
      background-color: white;
      // background: transparent;

      box-shadow: 0 0 10px $main-color-light;
      color: black;
    }
  }
  .header-title {
    font-family: $poppin;
    .hero-name {
      font-size: 4rem;
    }

    .hero-skill {
      font-size: 1.7rem;

      span {
        border-bottom: 3px solid white;
        padding: 5px;
        letter-spacing: 1px;
      }
    }
  }
  .home-btn{
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: 50px;
    background: $main-color-light;
    z-index: 1001;
    height: 40px;
    width: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    animation-name: slowUpAnimation;
    animation-duration: 2s; /* Adjust the duration as needed */
    animation-timing-function: ease-in-out; /* Adjust the timing function for a smoother effect */
    animation-iteration-count: infinite; /* Repeat the animation indefinitely */
    button {
      color: white;
      background-color: #149ddd;
      border: none;
    }
  }
}
@keyframes slowUpAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
