.services {
  .offer-title {
    font-weight: bold;
  }
  .offers {
    padding: 20px 0;
    .service-card {
      border-radius: 0 30px 0 0;
      .icon-info {
        position: relative;
        .icon {
          transition: 0.3s;
          font-size: 18px;
          display: flex;
          position: absolute;
          height: 30px;
          width: 30px;
          background-color: $main-color-light;
          border-radius: 10px;
          color: white;
          top: -45px;
          padding: 25px;
          border: 2px solid $main-color-light;
        }
      }
      &:hover{
        .icon{
          background-color: white;
          color: $main-color-light;

        }
      }
    }
  }
}
