a{
  cursor: pointer;
}
.error-message {
  position: relative;
  font-size: 12px;
  .error {
    right: 0;
    position: absolute;
    color: red;
  }
}
.form-group{
  margin-bottom: 15px;
}
.bar-btn {
  position: fixed;
  right: 15px;
  top: 10px;
  border-radius: 50px;
  background: $main-color-light;
  z-index: 1001;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  button {
    color: white;
    background-color: #149ddd;
    border: none;
  }
}
