<section class="skill ">
  <div class="container">
    <div class="skill-heading">
      <div class="skill-title">
        <h3 class="title">Skill</h3>
      </div>
      <div class="skill-paragraph">
        <p class="sub-paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt et aspernatur officiis
          expedita animi deleniti, impedit quasi quae sint fuga corrupti voluptates soluta molestias voluptatibus est!
          Quae error rem laborum sunt qui. Deserunt, quaerat!</p>
      </div>
    </div>
    <div class="skill-body">
      <div class="row">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 " *ngFor="let item of skillList;">
          <div class="progress-content">
            <div class="progress-title">
              <span>{{item.label}} </span>
              <span> {{item.per}} </span>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" [ngStyle]="{'width': item.per}"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
