<div class="main-div" id="main-theme">
  <ng-container *ngIf="isLoading">
    <app-loader></app-loader>
  </ng-container>

  <ng-container>
    <div class="portfolio-section" [ngClass]="{'visually-hidden': isLoading}" >
      <ng-container>
        <div class="bar-btn">
          <button class="" (click)="onToggle()"><i [class]="!isDisplay?'fa fa-bars':'fa-solid fa-xmark'"></i></button>
        </div>
      </ng-container>
      <section class="sidebar" id="sidebar" #sidebar (click)="onHideSidebar()">
        <app-sidebar></app-sidebar>
      </section>
      <section class="main-panel">
        <div class="page-body">
          <router-outlet></router-outlet>
        </div>
        <section id="footer" class="footer">
          <app-footer></app-footer>
        </section>
      </section>
    </div>
  </ng-container>
</div>
<!-- 141414 -->
<!-- 111111 -->
<!-- 333333 -->
