<div class="profile">
  <div class="profile-pic">
    <span class="profile-icon">
      <img src="/assets/profile-img/profile2.jpg" alt="">
    </span>
  </div>
  <div class="profile-name">
    <h4 class="name">Harit Tilavat </h4>
  </div>
  <div class="profile-icons">
    <a [href]="iconItem.url" target="_blank" class="social-links" *ngFor="let iconItem of iconList"><i [class]="'fa-brands '+iconItem.icon"></i></a>
  </div>
</div>
<div class="menu navbar">
  <ul>
    <li *ngFor="let item of sidebarMenu;let i=index">
      <a class="nav-link" [routerLink]="item.routing" [ngClass]="{'active': i+1===activeRouteId, 'login':item.label==='Login'}" (click)="onRouting(i+1,item.routing)">
        <i [class]="item.className"></i>
        <span>{{item.label}}</span>
      </a>
    </li>
  </ul>
</div>
