<div class="profile">
  <div class="profile-pic">
    <span class="profile-icon">
      <img src="/assets/profile-img/profile2.jpg" alt="">
    </span>
  </div>
  <div class="profile-name">
    <h4 class="name">Harit Tilavat</h4>
  </div>
  <div class="profile-icons">
    <i class="fa fa-brands fa-facebook"></i>
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-skype"></i>
    <i class="fa-brands fa-linkedin-in"></i>
  </div>
</div>
<div class="menu navbar">
  <ul>
    <li *ngFor="let item of sidebarMenu;let i=index">
      <a [ngClass]="{'active': i===0}">
        <i [class]="item.className"></i>
        <span>{{item.label}}</span>
      </a>
    </li>
  </ul>
</div>
