<div class="theme-icon" *ngIf="false">
  <div class="mode" id="theme-change" [ngClass]="themeClass">
    <label class="toggle" (click)="onThemeChange()">
      <span class="icon icon--light">
        <i class="fa fa-sun"></i>
      </span>
      <span class="icon icon--dark">
        <i class="fa fa-solid fa-moon"></i>
      </span>
      <span class="ball"></span>
    </label>
  </div>
</div>
<div class="profile">
  <div class="profile-pic">
    <span class="profile-icon">
      <img src="/assets/profile-img/profile1.jpg" alt="">
    </span>
  </div>
  <div class="profile-name ">
    <h4 class="name">Harit Tilavat </h4>
  </div>
  <div class="profile-icons">
    <a [href]="iconItem.url" target="_blank" class="social-links" *ngFor="let iconItem of iconList">
      <span>
        <fa-icon [icon]="iconItem.icon"></fa-icon>
      </span>
    </a>
  </div>
</div>
<div class="menu navbar">
  <ul>
    <li *ngFor="let item of sidebarMenu;let i=index"
      [ngClass]="{'d-none':isAuthenticated && item.label==='Login' || !isAuthenticated && item.label==='Logout'}">
      <ng-container>
        <a class="nav-link" [routerLink]="item.routing" [ngClass]="{ 'auth':item.routing==='/auth'}"
          [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}"
          (click)="onRouting(i+1,item.routing,item.label)">
          <i [class]="item.className" [ngClass]="{'fa fa-xmark-square':item.label==='Logout'}"></i>
          <span>{{item.label}}</span>
        </a>
      </ng-container>
    </li>
  </ul>
</div>