<section class="facts">
  <div class="fact-title">
    <h3 class="title">Facts</h3>
  </div>
  <div class="fact-paragraph">
    <p class="sub-paragraph">Ability to troubleshoot and debug web applications, ensuring functionality and optimal performance.Knowledge of web performance optimization techniques to improve site speed and user experience.</p>
  </div>
  <div class="fact-clients mt-5">
    <div class="row">
      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12" *ngFor="let item of clientsMenu">
        <div class="fact-content p-md-1 p-3">
          <div class="icon">
            <i [class]="item.icon"></i>
          </div>
          <div class="content-info d-flex flex-column">
            <span class="h1  ">{{item.clientCount}}</span>
            <strong>{{item.feedback}}</strong>
            <p>{{item.desc}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
