<div class="container">
  <div class="row justify-content-center">
    <div class="col-xxl-8 col-xl-10 col-lg-10 col-md-10 col-sm-12">
      <div class="content">
        <div class="content-info text-md-center text-start">
          <h1 class="mb-3">Have a project on Mind?</h1>
          <p>I am actively seeking new project opportunities that allow me to apply my skills and expertise. With a
            strong passion for my work, I am dedicated to delivering high-quality results and exceeding expectations.
          </p>
          <p> Let's connect and discuss how we can create something remarkable together!</p>
        </div>
        <div class="contact-me">
          <button type="button" class="btn btn-primary" (click)="goToContact()">{{'Contact me'}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
