<section class="resume py-4">
  <div class="container">
    <div class="resume-heading">
      <div class="resume-title">
        <span class="title">Resume</span>
      </div>
      <div class="resume-paragraph">
        <p class="sub-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus exercitationem et
          aut dicta quas hic impedit placeat ea modi temporibus totam, excepturi quo quibusdam porro fugiat repudiandae
          eum illo reprehenderit ducimus minus voluptatem beatae.</p>
      </div>
    </div>
    <div class="resume-content">
      <div class="row">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-12">
          <div class="summary">
            <div class="resume-title">
              <h3>Summary</h3>
            </div>
            <div class="resume-item">
              <h5 class="resume-sub-title">ALEX SMITH</h5>
              <p class="italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus similique maiores, a fugit expedita dolores delectus quo molestiae aperiam quod?</p>
              <ul>
                <li>Velanja, Surat</li>
                <li>+91 8780258459</li>
                <li>harittilavat10@gmail.com</li>
              </ul>
            </div>
          </div>
          <div class="education">
            <div class="resume-title">
              <h3>Education</h3>
            </div>
            <div class="resume-item">
              <h5 class="resume-sub-title">Master of Computer application</h5>
              <h5 class="year">2015-2016</h5>
              <p class="italic">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione, accusamus.</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus similique maiores, a fugit expedita dolores delectus quo molestiae aperiam quod?</p>

            </div>
            <div class="resume-item">
              <h5 class="resume-sub-title">Bachelor of Computer application</h5>
              <h5 class="year">2011-2014</h5>
              <p class="italic">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione, accusamus.</p>
              <p> ipsum Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, ea! dolor sit amet consectetur adipisicing elit. Voluptatibus similique maiores, a fugit expedita dolores delectus quo molestiae aperiam quod?</p>

            </div>
          </div>
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-12">
          <div class="experience">
            <div class="resume-title">
              <h3>Professional Experience</h3>
            </div>
            <div class="resume-item">
              <h5 class="resume-sub-title">SENIOR GRAPHIC DESIGN SPECIALIST</h5>
              <h5 class="year">2019 Present</h5>
              <p class="italic">Experion, New York, NY</p>
              <ul>
                <li>Managed up to 5 projects or tasks at a given time while under pressure</li>
                <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and advertisements).</li>
                <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li>
                <li>Recommended and consulted with clients on the most appropriate graphic design</li>
              </ul>
            </div>
            <div class="resume-item">
              <h5 class="resume-sub-title">GRAPHIC DESIGN SPECIALIST</h5>
              <h5 class="year">2017-2018</h5>
              <p class="italic">Stepping Stone Advertising, New York, NY</p>
              <ul>
                <li>Recommended and consulted with clients on the most appropriate graphic design</li>
                <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li>
                <li>Managed up to 5 projects or tasks at a given time while under pressure</li>
                <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and advertisements).</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
