<section class="resume py-4">
  <div class="container">
    <div class="resume-heading">
      <div class="resume-title">
        <h3 class="title">Resume</h3>
      </div>
      <div class="resume-paragraph">
        <p class="sub-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus exercitationem et
          aut dicta quas hic impedit placeat ea modi temporibus totam, excepturi quo quibusdam porro fugiat repudiandae
          eum illo reprehenderit ducimus minus voluptatem beatae.</p>
      </div>
    </div>
  </div>
</section>
