.contact {
  padding: 50px 0;
  .location-section {
    .content {
      .info {
        display: flex;
        margin-bottom: 1.5rem;
        color: inherit;
        text-decoration: none;
        cursor: pointer;
        .icon {
          transition: 0.3s;
          height: 30px;
          width: 30px;
          background-color: #cff0ff;
          border-radius: 50px;
          color: $main-color-light;
          padding: 25px;
        }
        &:hover {
          .icon {
            background-color: $main-color-light;
            color: white;
          }
        }
        .content-info {
          display: flex;
          flex-direction: column;
          margin-left: 20px;
        }
      }
    }
    .image-section {
      .location-img {
        max-width: 70%;
      }
    }
  }

  .form-group {
    .form-control {
    }
    span {
      color: red;
    }
  }
}
