.facts {
  .fact-clients {
    .fact-content {
      display: flex;
      .content-info {
        margin-left: 15px;
      }
    }
    i {
      color: $main-color-light;
      @include font-size(48px);
    }
  }
}
