.resume {
  padding: 50px 0px;

  .resume-content {
    position: relative;

    .resume-title {
      margin-bottom: 25px;
      h3{
        font-family: $inter-semibold;
      }
    }
    .resume-item {
      margin-bottom: 25px;
      position: relative;
      &::before {
        content: "";
        width: 15px;
        height: 15px;
        position: absolute;
        border-radius: 100%;
        border: 2px solid $main-title;
        margin-left: -23px;
        background: $primary-25;
        &:hover {
          border: 1px solid;
        }
      }
      .year {
        padding: 6px 16px;
        display: inline-block;
        // background-color: #e4edf9;
        background-color: $primary-100;
        @include font-size(13px);
        font-family: $inter-medium;
        border-radius: 8px;
      }

      border-left: 2px solid $main-color;

      ul {
        li {
          margin: 10px 0px;
        }
      }

      .italic {
        font-style: italic;
      }
      padding-left: 15px;

      .resume-sub-title {
        // font-family: $poppin;
        font-family: $sora-semibold;
        font-size: 18px;
        text-transform: uppercase;
      }
    }
  }
}
