/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "node_modules/@fortawesome/fontawesome-free/css/all.min.css";

$main-color: #040b14;
$main-color-light: #149ddd;
$partition: 300px;
$main-title: #173b6c;
$light-grey: #f5f8fd;
$poppin: "Poppins", sans-serif;
$p-color:#667085;

.bg-primary {
  background-color: $main-color !important;
}

.bg-primary {
  background-color: $main-color-light !important;
}

.text-primary {
  color: $main-color !important;
}

.text-primary-light {
  color: $main-color-light !important;
}
.sidebar.show {
  transform: translateX(0) !important;
}
.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
// ---------------------------------------------------------------------------
//portfolio
.portfolio-section {
  display: flex;
  flex-flow: row;

  .main-panel {
    margin-left: $partition;
    width: 100%;
  }
}

.title {
  color: $main-title;
  font-size: 2.3rem;
  font-weight: 500;
  &::after {
    content: "";
    display: block;
    margin-top: 15px;
    height: 3px;
    width: 50px;
    background-color: $main-color-light;
    border-radius: 10px;
  }
}
.bar-btn {
  display: none;
}
.sub-paragraph {
  margin-top: 20px;
}


@import "/src/app/scss/sidebar";
@import "/src/app/scss/hero";
@import "/src/app/scss/about";
@import "/src/app/scss/facts";
@import "/src/app/scss/skill";
@import "/src/app/scss/resume";
@import "/src/app/scss/services";
@import "/src/app/scss/ask-project";
@import "/src/app/scss/contact";
@import "/src/app/scss/footer";
@import "/src/app/scss/loader";
@import "/src/app/scss/auth/auth-login";
@import "/src/app/scss/shared";
// Media Query

@media only screen and (max-width: 1199px) {
  .bar-btn {
    display: flex;
  }
  .sidebar {
    transform: translateX(-$partition);
  }

  .portfolio-section {
    display: flex;
    flex-flow: row;

    .main-panel {
      margin-left: 0px;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 797px) {
  .hero {
    .header-title {
      .hero-name {
        font-size: 2.3rem;
      }
    }
  }
}
