/* You can add global styles to this file, and also import other style files */


@import './assets/scss/nugget';
@import './assets/scss/main';


// ---------------------------------------------------------------------------
//portfolio
.portfolio-section {
  display: flex;
  flex-flow: row;

  .main-panel {
    margin-left: $partition;
    width: 100%;
    background-color: #f8f8f9;
  }
}

.title {
  color: $main-title;
  font-size: 2.3rem;
  // font-family: $inter-medium;
  font-family: $inter-medium;
  &::after {
    content: "";
    display: block;
    margin-top: 15px;
    height: 3px;
    width: 50px;
    background-color: $main-color-light;
    border-radius: 10px;
  }
}
.bar-btn {
  display: none;
}
.sub-paragraph {
  margin-top: 20px;
}
.icon-list {
  display: flex;
  .icon {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 5px;
  }
}


// @import '.';
// @import "/src/app/scss/sidebar";
// @import "/src/app/scss/hero";
// @import "/src/app/scss/about";
// @import "/src/app/scss/facts";
// @import "/src/app/scss/skill";
// @import "/src/app/scss/resume";
// @import "/src/app/scss/services";
// @import "/src/app/scss/ask-project";
// @import "/src/app/scss/contact";
// @import "/src/app/scss/footer";
// @import "/src/app/scss/loader";
// @import "/src/app/scss/auth/auth-login";
// @import "/src/app/scss/shared";
// @import "/src/app/scss/dark-theme";

// Media Query

@media only screen and (max-width: 1199px) {
  .bar-btn {
    display: flex;
  }
  .sidebar {
    transform: translateX(-$partition);
  }

  .portfolio-section {
    display: flex;
    flex-flow: row;

    .main-panel {
      margin-left: 0px;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 797px) {
  .hero {
    .header-title {
      .hero-name {
        font-size: 2.3rem;
      }
    }
  }
}
